@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    color: #fff;
    font-family: 'Mulish', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background: #21c08b;
    display: flex;
    align-items: center;
}
header figure {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
header figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.signup {
    background: linear-gradient(#21c08b, #ab88ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    min-height: calc(100vh - 200px);
}

.signup__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0px 0px 20px #334;
    background: rgba(255, 255, 255, 0.1);
    padding: 60px 68px 40px;
    border: 2px solid #fff;
    border-radius: 40px;
    min-height: 700px;
    width: 450px;
}

.signup__container--form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.signup__container--form label {
    font-size: 14px;
}

.signup__container--social-media {
    margin: 10px 0;
}
.signup__container--social-media-icon {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 14px;
}
.signup__container--social-media figure {
    cursor: pointer;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.signup__container--social-media figure img {
    width: 100%;
    height: 100%;
}
.signup__container--register {
    text-align: center;
    font-size: 14px;
}
.signup__container--register a {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
}
.signup__container--register a:hover {
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid #fff;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    color: #fff;
    outline: none;
    margin-bottom: 20px;
    padding: 0px 20px;
    height: 50px;
}
::placeholder {
    color: #fff;
}
.button {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: #fff;
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
    height: 46px;
    letter-spacing: 1px;
    margin: 10px 0;
    transition: 300ms all;
}
.button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}


footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background: #ab88ff;
    padding: 30px 10px;
}

footer a {
    color: #fff;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
    margin-right: 30px;
}
footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .signup__container {
        border: none;
        box-shadow: none;
        background-color: transparent;
        padding: 0px;
        width: 100%;
    }
    footer {
        align-items: flex-start;
        flex-direction: column;
    }
    
    .footer a {
        margin-bottom: 8px;
    }
}
        